

<div class="row h-100">
  <div class="col-12 my-auto">
    <div>
      <h1 class="text-center android-police mb-5">Simple blog application based on Sinatra for Technical Interview</h1>
      <h2 class="text-center disposable-droid author">By Olivier Rohellec</h2>
    </div>
  </div>
</div>

